/* styles.css */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100px 1fr;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

#content {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
}

#content .sidebar {
  grid-column: 1 / 2;
  background-color: darkgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#content .sidebar .sidebar-link {
  padding: 10px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#content .main {
  margin: 30px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px;
}

#content .project-add-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 50px 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
}

#content .project-add-container .title {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

#content .project-add-container .project-add-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 30px;
}

#content .project-add-container .project-add-form input {
  min-width: 20%;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

#content .project-add-container .project-add-form button,
#content .task-add-form button,
#content .save-project-button,
#content .back-button,
#content .edit-task-button {
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 100px;
}
.task-add-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.task-add-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  margin-top: 10px;
}

.task-add-form input,
.task-add-form textarea{
  min-width: 50%;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.show-task-list-container {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

}

.project-detail {
  margin-top: 20px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save-project-button {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: start;
  margin-top: auto;
  margin-left: auto;
}

#content .main .project-index-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 50px 1fr;
}

#content .main .project-index-container .title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#content .main .project-index-container table {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  border-collapse: collapse;
}

#content .main .project-index-container table .button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

table, td, th {
  border: 1px solid black;
}

table th {
  background-color: lightgray;
  padding: 10px;
  text-align: left;
}

table td {
  padding: 10px;
}

#content .home-index-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

#content .home-index-container .title {
  grid-row: 1 / 2;
}

#content .home-index-container .slider {
  grid-row: 2 / 3;
  position: relative;
  margin: 0;
}

#content .home-index-container .slider img{
  width: 100%;
  max-height: 600px;
  display: none;
  border-radius: 10px;
}

#content .home-index-container .slider img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

#content .home-index-container .slider button,
#content .home-index-container .slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#content .home-index-container .slider .slider-prev-btn {
  left: 10px;
}

#content .home-index-container .slider .slider-next-btn {
  right: 10px;
}

#content .project-show-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

#content .project-show-container .title {
  grid-row: 1 / 2;
}

#content .project-show-container .project-task-list {
  grid-row: 2 / 3;
}

#content .project-show-container .project-task-list ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#content .project-show-container .project-task-list ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid darkgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

#content .project-show-container .back-button {
  grid-row: 3 / 4;
  margin-top: auto;
  margin-left: auto;
}

.task-show-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.task-show-container .task-show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  padding: 10px;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn .fa {
  font-size: 15px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}



